.m-s-topbar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.m-topbar-l {
  padding-left: 62px;
  margin-top: -2px;
}

.nav-left {
  padding-left: 64px;
}

.pswp__counter {
  top: 20px !important;
  left: 4px !important;
}

.tips {
  display: none !important;
}